{% extends "WebEstadisticasBundle::layout.html.twig" %}
{% block Settings %}{{ parent() }}{% endblock %}

{% block css %}

		{{ parent() }}
		{% stylesheets filter='cssrewrite'
			'bundles/webestadisticas/css/mapa.css'	output='css/mapa.css' %}
			<link rel="stylesheet" type="text/css" href=" {{ asset_url }}" />
		{% endstylesheets %}
	
{% endblock %}

{% block jss %}
  		{{ parent() }}
  		{% javascripts 
			'@WebEstadisticasBundle/Resources/public/js/mapaviejo.js' output='js/mapa.js'
  		%}
  		<script src="{{ asset_url }}"></script>
 		{% endjavascripts %}
{% endblock %}

{% block head %}

 <div id='cssmenu'>
	<ul>
   		<li><a href='{{ path("index") }}'><span>Principal</span></a></li>
   		<li><a href='{{ institucional }}' target="_blank"><span>Institucional</span></a></li>
   		<li class='has-sub active'><a href='javascript:void(0)'><span>Anuarios</span></a>
     	<ul>
        	 <li><a href='{{ path("_estad_mapa") }}' id='mapa'><span>Mapa</span></a></li>
         	 <li><a href='javascript:void(0)' id='porano'><span>Por año</span></a></li>
         	 <li><a href='javascript:void(0)' id='porfuerjuris'><span>Por fuero o jurisdicción</span></a>
         	 <li class='last'><a href='javascript:void(0)' id='lugConsulta'><span>Lugares de consulta de los libros de estadísticas</span></a></li>
        </ul>
   		</li>
   		<li class='has-sub'><a href='javascript:void(0)'><span>Trabajos Especiales</span></a>
   		<ul>
   			<li><a href='javascript:void(0)' id='indicadoresMenu'><span>Indicadores</span></a></li>
   			<li><a href='javascript:void(0)' id='evolucionMenu'><span>Evolución</span></a></li>
   			<li><a href='javascript:void(0)' id='fallosMenu'><span>Fallos</span></a></li>
   			<li class='last'><a href='{{ path("_otros_trabajos") }}' id='otrosTrabajosMenu'><span>Otros Trabajos</span></a>	
   		</ul>
   		</li>
   		<li class='last'><a href='javascript:void(0)' id='contact'><span>Contáctenos</span></a></li>
	</ul>
 </div>
{% endblock %}

{% block body %}
  	<div id="seleccionMapa">
  		<div id="tooltipDiv"><p class="bg-info" id="tooltipSelMapa">Haga click sobre la jurisdiccion en el mapa para seleccionar una jurisdicción o selecciónela desde el menú. <button type="button" class="close" id="tooltipSelMapaButton"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></p></div>
  	       			<div id="map_canvas">
  	       			{% image '@WebEstadisticasBundle/Resources/public/images/MAPAArgentina.jpg' %}
    				<img border=0 id="argMap" src="{{ asset_url }}" usemap="#Map"/>
					{% endimage %}
						<map name="Map">
               				<area shape="poly" class="poly" name="juri13" coords="135,73,135,86,123,91,119,97,124,103,133,102,140,103,144,104,140,107,141,115,154,111,160,112,172,107,176,103,180,97,185,91,186,83,186,71,182,64,171,63,165,75,161,66,142,63" href="javascript:void(0)" alt="AREA CAMARA DE SALTA">
                			<area shape="poly" class="poly" name="juri9" coords="188,70,205,85,215,91,229,96,239,105,223,139,214,169,212,158,206,157,205,167,194,168,192,161,194,142,195,121,193,106,175,108,187,90" href="javascript:void(0)" alt="AREA CAMARA DE RESISTENCIA">
                			<area shape="poly" class="poly" name="juri8" coords="270,108,278,106,282,121,278,127,273,129,268,132,260,140,257,135,256,128,263,123,269,118" href="javascript:void(0)" alt="AREA CAMARA DE POSADAS">
                			<area shape="poly" class="poly" name="juri11" coords="226,217,227,213,224,209,216,204,213,213,204,216,208,223,219,223" href="javascript:void(0)" alt="AREA CAMARA DE SAN MARTIN">
                			<area shape="poly" class="poly" name="juri5" coords="213,205,211,210,200,206,192,212,185,210,195,194,191,179,195,169,203,169,214,167,205,179,202,188,204,194" href="javascript:void(0)" alt="AREA CAMARA DE ROSARIO">
                			<area shape="poly" class="poly" name="juri12" coords="123,137,133,138,141,139,151,147,157,160,160,152,175,153,189,163,193,132,192,107,180,108,169,108,162,115,154,116,148,118,136,111,137,105,122,104,119,112,124,122,119,129" href="javascript:void(0)" alt="AREA CAMARA DE TUCUMAN">
                			<area shape="poly" class="poly" name="juri15" coords="243,156,259,139,257,129,243,129,230,126,226,129,225,134,221,140,220,147,217,152,216,162,229,161,232,163" href="javascript:void(0)" alt="AREA CAMARA DE CORRIENTES">
                			<area shape="poly" class="poly" name="juri1" coords="220,223,223,225,224,233,228,230,227,226,236,225,236,221,231,218,226,218" href="javascript:void(0)" alt="AREA CAMARA DE LA PLATA">
                			<area shape="poly" class="poly" name="juri1" coords="177,212,177,236,183,238,189,230,198,236,204,231,209,223,208,228,203,216,209,210,201,209,192,213" href="javascript:void(0)" alt="AREA CAMARA DE LA PLATA">
                			<area shape="poly" class="poly" name="juri10" coords="110,143,117,146,118,151,118,158,125,158,129,161,137,168,139,174,138,182,145,184,152,182,160,187,162,193,160,201,159,220,176,219,175,212,181,211,192,192,189,183,191,170,183,161,174,156,162,155,157,162,152,155,143,148,136,141,131,145,127,140,116,136" href="javascript:void(0)" alt="AREA CAMARA DE CORDOBA">
                			<area shape="poly" class="poly" name="juri4" coords="106,145,105,155,107,162,99,179,106,194,110,206,111,213,106,226,107,236,114,246,124,249,125,232,154,231,154,199,154,190,148,184,141,187,134,186,131,180,131,171,125,163,115,157,113,148" href="javascript:void(0)" alt="AREA CAMARA DE MENDOZA">
                			<area shape="poly" class="poly" name="juri7" coords="215,163,215,169,213,172,206,176,204,181,203,190,203,192,208,198,212,202,218,203,224,206,225,202,226,197,230,194,235,164,228,162" href="javascript:void(0)" alt="AREA CAMARA DE PARANA">
                			<area shape="poly" class="poly" name="juri2" coords="239,231,236,238,239,237,244,245,239,249,235,256,228,263,220,265,211,267,208,264,204,257,198,254,196,247,197,240,203,233,210,225,217,224,222,234,225,237,230,228" href="javascript:void(0)" alt="AREA CAMARA DE MAR DEL PLATA">
                			<area shape="poly" class="poly" name="juri3" coords="131,233,162,233,160,220,178,220,178,237,183,239,191,231,199,238,197,245,198,250,202,255,207,259,209,267,191,267,189,268,189,274,189,281,187,291,181,289,180,285,178,274,173,267,153,267,140,262,137,257,132,250,129,244" href="javascript:void(0)" alt="AREA CAMARA DE BAHIA BLANCA">
                			<area shape="poly" class="poly" name="juri6" coords="105,242,115,249,120,251,126,253,132,258,136,263,140,265,144,268,150,267,158,269,166,269,170,271,174,277,176,281,176,288,180,293,177,296,170,295,168,293,164,291,164,293,165,303,159,305,154,306,157,307,155,303,166,300,161,304,165,301,163,303,160,300,163,301,157,296,159,303,145,302,146,308,146,303,150,304,159,305,131,309,123,308,117,307,117,302,115,300,115,306,116,306,111,308,112,307,115,312,108,310,100,307,106,304,103,306,103,309,100,306,100,300,101,292,98,284,102,276,104,272,106,267,104,262,101,258,100,251,101,247" href="javascript:void(0)" alt="AREA CAMARA DE GRAL. ROCA">
                			<area shape="rect" class="poly" name="juri14" coords="185,361,236,434" href="javascript:void(0)" alt="AREA CAMARA DE COMODORO RIVADAVIA">
                			<area shape="poly" class="poly" name="juri14" coords="206,454,210,454,214,456,218,455,222,454,227,454,224,458,220,462,214,466,212,460,208,462,205,463,202,462,202,458,204,455" href="javascript:void(0)" alt="AREA CAMARA DE COMODORO RIVADAVIA">
                			<area shape="poly" class="poly" name="juri14" coords="121,310,156,306,162,308,171,308,176,312,163,318,167,317,166,321,163,325,162,329,161,333,163,335,160,338,159,342,154,344,150,343,147,346,146,349,145,353,143,358,145,362,148,365,150,369,153,369,157,372,160,371,160,377,157,379,153,383,152,385,151,387,148,390,147,394,146,399,145,404,142,405,139,406,138,413,137,418,140,425,141,429,143,431,145,436,148,441,148,445,152,452,156,455,160,458,164,458,168,459,173,459,178,459,169,463,165,463,162,464,153,462,147,463,145,460,146,452,146,448,144,443,142,437,142,434,140,432,137,431,135,430,133,431,123,431,120,431,114,429,112,427,113,425,115,421,115,415,104,419,107,415,104,416,101,413,103,408,101,405,104,398,107,393,109,390,110,386,106,384,105,381,106,378,110,377,112,372,110,369,110,366,109,360,109,359,110,356,112,350,108,346,113,342,107,338,105,334,106,330,100,320,101,319,102,312,111,314,116,311" href="javascript:void(0)" alt="AREA CAMARA DE COMODORO RIVADAVIA">
						</map>
					<a href="javascript:void(0)" class="poly" name="juri16">
						{% image '@WebEstadisticasBundle/Resources/public/images/mapacapital.jpg' %}
    					<img border=0 id="capMap" alt="Fueros Capital Federal" width="95" height="94" border="0" align="absmiddle" src="{{ asset_url }}" usemap="#Map"/>
						{% endimage %}
					</a>
						
  	       			</div>
           			<form class="form-horizontal" role="form" id="formMapa" action="javascript:void(0)" method="POST" target="_blank">
           			{#div de jurisdicciones#}
							<div class="form-group selects">
 								<label for="select">Jurisdicción:</label>
 								<select class="form-control ui-selectmenu-button ui-widget ui-state-default ui-corner-all" id="JurisdiccionesMapa" attribute="autofocus">
  									<option value="default">Seleccione Jurisdicción</option>
								</select>
							</div>
					{#div de anios#}
							<div class="form-group selects">
								<label for="select" id="aniosLabel">Año:</label>
								<select class="form-control ui-selectmenu-button ui-widget ui-state-default ui-corner-all" id="AniosMapa" disabled='disabled'>
  									<option value="default">Seleccione Año</option>
								</select>
							</div>
					
					{#div de titulos#}
							<div class="form-group selects">
								<label for="select" id="divisionesLabel">Título:</label>
								<select class="form-control ui-selectmenu-button ui-widget ui-state-default ui-corner-all" id="DivisionesMapa" disabled='disabled'>
  									<option value="default">Seleccione Título</option>
								</select>
							</div>
					{# div de subtitulos #}
							<div class="form-group selects">
								<label for="select" id="subtitulosLabel">Subtítulo:</label>
								<select class="form-control ui-selectmenu-button ui-widget ui-state-default ui-corner-all" id="SubtitulosMapa" disabled='disabled'>
									<option value="default">Seleccione Subtítulo</option>
								</select>								
							</div>
					{#div de archivos#}
							<div class="form-group selects">
								<label for="select" id="archivosLabel">Archivo:</label>
								<select class="form-control ui-selectmenu-button ui-widget ui-state-default ui-corner-all" id="ArchivosMapa" name="listadoArchivosJuris" disabled='disabled'>
  									<option value="default">Seleccione Archivo</option>
								</select>
							</div>
					{#TEXTAREA#}	
							<div class="form-group selects">
								<label for="select" id="archivosLabel">Descripcion:</label>
								<textarea id="descripcionMapa" class="textAreaMap" rows="6" cols="70" wrap='off' readonly>Descripción del archivo a solicitar.
								</textarea>
							</div>
					{#botones#}
							<div class="form-group selects">
											<a href="javascript:void(0)" class="btn ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" id="abrirJurisMapa" target="_blank"><span class="ui-button-text">Abrir</span></a> 
				   							<a id='descargarJurisMapa' class="btn ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" download><span class="ui-button-text">Descargar</span></a>
							</div>
													
					</form>
	</div>
	{{ parent() }}
{% endblock %}


{% block javascript %}
	
	$(document).ready(function() {
	
		var mapObject = new Mapa();
		
		mapObject.anioUrl = "{{ path("_getanio") }}" ;
		mapObject.CapitulosUrl = "{{ path("_getCapitulos") }}" ;
		mapObject.ArchivosFallosUrl= '{{ path("_getArchivosFallos") }}';
		mapObject.getUrlDescargaFallos= "{{ path("_getUrlDescargaFallos") }}";
		mapObject.periodosUrl = "{{ path("_getPeriodos") }}";
		mapObject.archivosEvoUrl = "{{ path("_getArchivosEvo") }}";
		mapObject.indiCapUrl = "{{ path("_getCapitulosIndicadores") }}";
		mapObject.archivosIndicadoresUrl = "{{ path("_getArchivosIndicadores") }}";
		mapObject.getUrlDescargaIndicadores = "{{ path("_getUrlDescargaIndicadores") }}";
		mapObject.getUrlDescargaEvolucion = "{{ path("_getUrlDescargaEvolucion") }}";
		mapObject.SubtitulosUrl = "{{ path("_getSubtitulos") }}"
			mapObject.DivJurisUrl = "{{ path("_getDivisionesJuris") }}";
	mapObject.ArchJurisUrl = "{{ path("_getArchivosJuris") }}";
	mapObject.SubtJurisUrl = "{{ path("_getSubtJuris") }}";
		
		
		mapObject.getJurisUrl = "{{ path("_getJurisdicciones") }}";
		mapObject.getAnioJurisdiccionesUrl ="{{ path("_getAnioJurisdicciones") }}";
		mapObject.DivisionesUrl = "{{ path("_getDivisiones") }}";
		mapObject.ArchivosUrl= "{{ path("_getArchivos") }}";
		mapObject.getUrlDescarga= "{{ path("_getUrlDescarga") }}";
		mapObject.obtenerCoordenadasUrl = "{{ path("_obtenerCoordenadas") }}";
		mapObject.init();
		
	
	
	});


{% endblock %}

{% block footer %}
 {{ parent() }}
 {% endblock %}

 
